In [2]:
import pandas as pd
df = pd.read_csv("D:/Courses/Codebasics Python/Python Projects and Exercises/ML/9_decision_tree/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

**Create Input & Target Variables**

In [4]:
inputs = df.drop('salary_more_then_100k', axis = 'columns')
target = df['salary_more_then_100k']

**Encoding for the Strong Variable Columns**

In [8]:
from sklearn.preprocessing import LabelEncoder

**Creating object LabelEncoder() for Class**

In [55]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [56]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

**An Alternative to Encode All Together - Simpler Approach**

***inputs_n = inputs.apply(LabelEncoder().fit_transform)***

In [46]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis = 'columns')

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

**Train and Test Dataset Split**

In [15]:
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test = train_test_split(inputs_n, target, train_size = 0.8)

**Calling Model**

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression()

**Fitting Model**

In [31]:
model.fit(x_train, y_train)

LogisticRegression()

**Checking Model Score**

In [32]:
model.score(x_test, y_test)

0.5

**Making a Prediction Based on Desired Inputs**

**Example: Facebook employee,

**Quickly Checking Which Input Means What**

In [57]:
le = LabelEncoder()

for col in inputs.columns:
    if inputs[col].dtype == 'object':
        le.fit(inputs[col])
        print(col, dict(zip(le.classes_, le.transform(le.classes_))))

company {'abc pharma': 0, 'facebook': 1, 'google': 2}
job {'business manager': 0, 'computer programmer': 1, 'sales executive': 2}
degree {'bachelors': 0, 'masters': 1}

 **Back to Predictions!**

In [61]:
model.predict([[1, 0, 0]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

 **The warning is because I am making predictions using a trained machine learning model, but the input data that you are providing does not have column names that match the names of the features that the model was trained on.** 
 
 **This error is produced because of the small dataset and will not repeat with larger training and testing datasets**