In [1]:
import pandas as pd
df = pd.read_csv("D:/Courses/Codebasics Python/Python Projects and Exercises/ML/14_naive_bayes/spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

 ## Grouping to have a high-level view

In [5]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

## Converting Categories to Numbers

In [6]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

### Train, Test Split

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.Message, df.spam, train_size = 0.8)

### Converting Messages to Numbers: Enter Count Vectorizer

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### Choosing out of 3 Different Naive Bayes Classifiers: Multinomial Naive Bayes
**The 3 Types are:**
1. Bernouli Naive Bayes
2. Multinomial Naive Bayes
3. Gaussian Naive Bayes

In [14]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB()

### Making Predictions

In [16]:
emails = [
    'Save 15% off today only by using promo code mango at www.dashvapes.com and www.flvrs.co or mention the promo code in-store. Promo code expires Saturday, January 28th, 2023 at 11:59 PM PST',
    "Hi Adib, Received with thanks. Sorry to hear about the technical difficulties and I'll make sure to use this file! Best wishes, Vanessa"
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 0], dtype=int64)

 ### Model Performance

In [19]:
x_test_count = v.transform(x_test)
model.score(x_test_count, y_test)

0.9865470852017937

***The reason we are using x_test_count and not just x_test is because remember: we have to convert the message tests and characters into numbers. This applies while predicting, and previously in the same way when fitting***

 ## To Not Have to Transform Everytime
 ### *There is a simpler Method* : Pipeline

In [20]:
from sklearn.pipeline import Pipeline

### Creating the Classifier

In [21]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

### Now Fitting into the Classifier

In [22]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

### *Now We Will See Below That We Won't Have to Fit Transform the Text Data Everytime. Even the emails data that I provided, I can now directly run.*

In [23]:
clf.score(x_test, y_test)

0.9865470852017937

In [24]:
clf.predict(emails)

array([1, 0], dtype=int64)